/* Sorry.module.css */

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Mengatur konten ke tengah secara horizontal */
    align-items: center; /* Mengatur konten ke tengah secara vertikal */
  }
  
  .main {
    padding: 5rem 0;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .buttonsContainer {
    display: flex;
    flex-direction: column; /* Mengatur tombol dalam satu kolom */
    gap: 2rem;
    align-items: center; /* Mengatur tombol ke tengah secara horizontal */
  }
  
  .buttonForgive,
  .buttonNo {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .buttonForgive {
    background-color: #4caf50; /* Hijau */
    color: white;
  }
  
  .buttonNo {
    background-color: #f44336; /* Merah */
    color: white;
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../public/pngwing.com.png'); /* Ganti dengan path gambar hati */
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none; /* Menghindari partikel menanggapi interaksi pengguna */
    animation: animateParticles 5s infinite linear;
  }
  
  @keyframes animateParticles {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(-100px) rotate(45deg) scale(1.5);
    }
    100% {
      opacity: 0;
      transform: translateY(-200px) rotate(90deg) scale(2);
    }
  }